/* Container */
.table-data {
  width: 100%;
}

/* DataGrid root */
.table-data .MuiDataGrid-root {
  border: 0 !important;
  direction: ltr; /* مهم لتفادي مشاكل RTL */
  font-family: "Nunito Sans", sans-serif !important;
}

/* Header */
.table-data .MuiDataGrid-columnHeaders {
  background-color: #F1F4F9 !important;
  border: 0 !important;
}

.table-data .MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
  color: #202224;
  font-size: 16px;
}

/* Cells */
.table-data .MuiDataGrid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start !important;
}

/* Scroll (الأهم) */
.table-data .MuiDataGrid-virtualScroller {
  overflow: auto !important; /* لا تخفيه */
}

/* Footer */
.table-data .MuiDataGrid-footerContainer {
  direction: ltr;
}

/* Pagination text */
.table-data .MuiTablePagination-selectLabel,
.table-data .MuiTablePagination-displayedRows {
  position: relative;
  color: transparent;
}

.table-data .MuiTablePagination-selectLabel::after {
  content: "عدد الصفوف في الصفحة";
  position: absolute;
  right: 0;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

/* Menu */
.table-data .MuiMenu-paper {
  border-radius: 12px !important;
}

.table-data .MuiMenu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  direction: rtl;
}

/* مهم: لا تخفي التولبار بالكامل */
.MuiTablePagination-toolbar {
  display: flex !important;
}
