.css-7sga7m{
    gap: 2rem!important;
}
.css-jpln7h-MuiTabs-scroller, .css-1anid1y{
    border: none!important;
}
.css-1ujnqem-MuiTabs-root, .css-orq8zk{
    width: 100%!important;
    background-color: white!important;
}
.css-1izfg5m{
    width: 100%!important;
}

.css-1pyy021-MuiTabs-flexContainer, .css-1x7skt0{
    background-color: white!important;
    box-shadow: none!important;
    gap: 2rem!important;
}


.css-hip9hq-MuiPaper-root-MuiAppBar-root, .css-1x7skt0{
    width: 100%!important;
    background-color: white!important;
    
    
}
.css-heg063-MuiTabs-flexContainer, .css-k008qs{
    width: 58%;
    direction: rtl;
    gap: 2rem!important;

}
.css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected, .css-2swjet.Mui-selected{
    background-color: #4880FF!important;
    color: white!important;
    font-size: 14px!important;
    font-weight: 600!important;
    border-radius: 4rem!important;
    padding: 0rem!important;
    min-height: 35px!important;
    max-width: fit-content!important;
    opacity: 7!important;
    width: fit-content!important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    box-shadow: none!important;
}
.css-8je8zh-MuiTouchRipple-root, .css-w0pj6f{
    display: none;
}
.css-1vw5i9y-MuiButtonBase-root-MuiTab-root, .css-2swjet{
    color: black!important;
    background-color: #F0F0F0!important;
    font-size: 14px!important;
    font-weight: 600!important;
    border-radius: 4rem!important;
    
    padding: 0rem!important;
    min-height: 35px!important;
    max-width: fit-content!important;
    opacity: 7!important;
    width: fit-content!important;
}



